@model System.Data.DataTable
@{
    ViewBag.Title = "Компании";
}

<h2>Компании</h2>

<table class="table table-bordered table-striped">
    <tr>
        <th>№</th>
        <th>Наименование</th>
        <th>Размер компании</th>
        <th>Огранизационно-правовая форма</th>
        <th></th>
        <th></th>
    </tr>
    @for (int i = 0; i < Model.Rows.Count; i++)
    {
<tr>
    <td>@Model.Rows[i][0]</td>
    <td>@Model.Rows[i][1]</td>
    <td>@Model.Rows[i][2]</td>
    <td>@Model.Rows[i][3]</td>
    <td><a href="@Url.Action("Edit", "Company", new { @id=Model.Rows[i][0]})">Изменить</a></td>
    <td><a href="@Url.Action("Delete", "Company", new { @id=Model.Rows[i][0]})">Удалить</a></td>
</tr>
    }
</table>

<a class="btn-link" href="@Url.Action("Create", "Company")">Добавить</a>
